<div class="card animated fadeIn fast">
		<div class="row">
			<div class="col-md-4">
    			<img [src]="heroe.img" class="card-img-top img-fluid" [alt]="heroe.nombre" style="width: 100%; height: 300px;">				
			</div>
			<div class="col-md-8">
		    	<div class="card-body">
		      		<h4 class="card-title">{{heroe.nombre | uppercase }} <small>({{heroe.aparicion | date:'y'}})</small></h4>
		      		<p class="card-text">{{heroe.bio}}</p>
		      		
		    	</div>				
			</div>
		</div>
  </div><br>
  <a [routerLink]="['/heroes']">Heroes</a>
